<div class="content-section introduction">
  <div class="ui-panel-content ui-widget-content">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
          </div>
          <div class="ui-grid-col-1"> Email: </div>
          <div class="ui-grid-col-3"><input formControlName="email" pinputtext="" placeholder="Required" type="text"
              class="ng-untouched ng-pristine ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget"></div>
          <div class="ui-grid-col-4">
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
          </div>
          <div class="ui-grid-col-1"> Password: </div>
          <div class="ui-grid-col-3"><input formControlName="password" pinputtext="" placeholder="Required"
              type="password"
              class="ng-untouched ng-pristine ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget"></div>
          <div class="ui-grid-col-4">
            <!---->
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
          </div>
          <div class="ui-grid-col-2"><button label="Switch to Signup" pbutton="" type="button"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
              [disabled]="!loginForm.valid" (click)="signUp(loginForm.value)"><span
                class="ui-button-text ui-clickable">Switch to Signup</span></button>
          </div>
          <div class="ui-grid-col-2"><button label="Submit" pbutton="" type="submit" [disabled]="!loginForm.valid"
              class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span
                class="ui-button-text ui-clickable">Submit</span></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </form>
  </div>
</div>